# Python
__pycache__
*.pyc

# IntelliJ Idea
.idea
*.iml

# Coursier cache (see pre_commit_hooks/scalafmt.sh)
.cache/coursier/

# Ignore the .scalafmt.conf copied in during scalafmt-examples
.scalafmt.conf
